<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>prestashopinventory</name>
    <displayName><![CDATA[Inventory Report]]></displayName>
    <version><![CDATA[0.2.61]]></version>
    <description><![CDATA[Back Office inventory view with purchase price editing and PDF export.]]></description>
    <author><![CDATA[hejsiri]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
